.card-grid-items {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-grid-items img {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    display: block;
}

.card-grid-items .front {
    transform: rotateY(90deg);
    transition: all ease 0.5s;
    
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
}

.card-grid-items .back {
    position: absolute;
    transition: all ease 0.5s;

    transform: rotateY(0deg);
}

.flipped .back {
    transform: rotateY(90deg);
}