button {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #e5e5e5;
    font-size: 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 600px;
    max-height: 600px;
    margin: 0 auto;

}